<div class="modal" tabindex="-1" role="dialog" *ngIf="isVisible">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            
          <h5 class="modal-title">Add Sale</h5>
          <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmit()" #addSaleForm="ngForm">
            <div class="form-group">
              <label for="productName">Product Name</label>
              <select
              id="productName"
              class="form-control"
              [(ngModel)]="productId"
              name="productName"
              required
            >
            <option value="" disabled selected>---Select Product---</option>
              <option *ngFor="let product of product" [value]="product.id">
                {{ product.pname }}
              </option>
            </select>
            </div>
  
            <div class="form-group">
              <label for="quantity">Sale Quantity</label>
              <input
                type="number"
                id="quantity"
                class="form-control"
                [(ngModel)]="quantity"
                name="quantity"
                #quantityInput="ngModel"
                required
              />
            </div>
            <div *ngIf="quantityInput.invalid && quantityInput.touched" class="alert alert-danger">
                Quantity is required.
              </div>
  
            <div class="form-group">
              <label for="storeId">Store Name</label>
              <select
                id="storeId"
                class="form-control"
                [(ngModel)]="storeId"
                name="storeId"
                required
              >
              <option value="" disabled selected>---Select Store---</option>
                <option *ngFor="let store of stores" [value]="store.id">
                  {{ store.name }}
                </option>
              </select>
            </div>
  
            <div class="form-group">
              <label for="date">Date</label>
              <input
                type="date"
                id="date"
                class="form-control"
                [(ngModel)]="date"
                name="date"
                [max]="maxDate"
                #dateInput="ngModel"
                required
                
              />
            </div>
            <div *ngIf="dateInput.invalid && dateInput.touched" class="alert alert-danger">
                Date is required.
              </div>
  
            <div class="form-group">
              <label for="mrp">MRP</label>
              <input
                type="number"
                id="mrp"
                class="form-control"
                [(ngModel)]="mrp"
                name="mrp"
                #mrpInput="ngModel"
                required
              />
            </div>
            <div *ngIf="mrpInput.invalid && mrpInput.touched" class="alert alert-danger">
                MRP is required.
              </div>
              <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
              </div>
            <button
              type="submit"
              class="btn btn-primary"
              
            >
              Save Sale
            </button>
          </form>
        </div>
      </div>
      
    </div>
    
  </div>

  
  